@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #ccc;
	color: #ccc;
	background: #fff;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #ff5c00;
    color: #fff;
	border: 1px solid #ccc;
}

.pagination .current.prev, .pagination .current.next{
	color:#ccc;
	border-color:#ccc;
	background:#fff;
}

